<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857638079253-uu9t1p81b4434rt5sei5stq8s5u3c6g8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857638079253-uu9t1p81b4434rt5sei5stq8s5u3c6g8</string>
	<key>API_KEY</key>
	<string>AIzaSyAhMZLykjokN7Nsq9UmF9nmEbyxh4kUwgs</string>
	<key>GCM_SENDER_ID</key>
	<string>857638079253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativeauth</string>
	<key>PROJECT_ID</key>
	<string>reactnative-auth-bcf95</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnative-auth-bcf95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857638079253:ios:1d6757c32f8fbddeaab71c</string>
</dict>
</plist>